---
---

@import "{{ site.theme }}";

.header-bar {
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.sub-header-bar {
    background-color: #0073e6;
    color: #fff;
    font-family: "Roboto Slab", serif;
    padding: 0.5em 1em;
    font-weight: 600;
    text-align: center;
    text-shadow: none;
    outline: none;
}

td {
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px black solid;
}

th {
 font-weight: bold;
}

td ul {
  margin-top: 1em;
}

ul > li {
  list-style: circle;
}

li {
  margin-left: 1em;
}

ol ul, ul ul {
  margin-bottom: 0px;
}
